@import "./../../../variables.scss";

.logo {
    width: 150px;
    text-align: right;
    float: right;
    padding-top: 10px;
}

nav {
    display: inline-block;
    padding-top: 20px;

    & a {
        text-decoration: none;
        color: $blue;
        padding-right: 10px;
        font-weight: 500;
    }
}