@import "./../../../variables.scss";

.advanced {
  color: $black;
  border-radius: 5px;
  border: none;
  background-color: $lightblue;
  padding: 5px 30px;
  float: right;

  &:hover {
    background-color: darken($lightblue, 15%);
  }
}

.image {
  width: 100%;
}
