<div class="row">
  <div class="col-12">
    <h1 class="title">Reservations</h1>
  </div>
</div>


<div *ngFor="let reserve of reserved" class="row section">
  <div class="col-sm-12">
      <h3 class="title-lesser">{{reserve.type}}</h3>
      <p><b>Hotel:</b> {{ reserve.hotelId }}</p>
      <br>
  </div>
  <div *ngFor="let reservations of reserve.reserved" class="col-md-6 option">
    <p><b>Guest:</b> {{ reservations.userId }}</p>
    <p><b>From:</b> {{ reservations.from }}</p>
    <p><b>To:</b> {{ reservations.to }}</p>
  </div>
</div>

