<div class="row">
  <div class="col-12">
    <h1 class="title">My page</h1>
  </div>
</div>

<div *ngIf="type === 'User' || type === 'Admin'" class="row option" (click)="orders()">
  <div class="col-sm-6 option-header">
    <h2>My Orders</h2>
  </div>
  <div class="col-sm-6 option-description">
    <p>View your orders.</p>
  </div>
</div>

<div *ngIf="type === 'Hotel' || type === 'Admin'" class="row option" (click)="createHotel()">
  <div class="col-sm-6 option-header">
    <h2>Create Hotel</h2>
  </div>
  <div class="col-sm-6 option-description">
    <p>Create a new hotel.</p>
  </div>
</div>

<div *ngIf="type === 'Hotel' || type === 'Admin'" class="row option" (click)="createRoom()">
  <div class="col-sm-6 option-header">
    <h2>Create Room</h2>
  </div>
  <div class="col-sm-6 option-description">
    <p>Create a hotel room for one of your hotels.</p>
  </div>
</div>

<div *ngIf="type === 'Hotel' || type === 'Admin'" class="row option" (click)="reservations()">
  <div class="col-sm-6 option-header">
    <h2>Reservations</h2>
  </div>
  <div class="col-sm-6 option-description">
    <p>Check what reservations have been made.</p>
  </div>
</div>
<div *ngIf="type === 'Admin'" class="row option" (click)="contact()">
  <div class="col-sm-6 option-header">
    <h2>Contact Submissions</h2>
  </div>
  <div class="col-sm-6 option-description">
    <p>View submissions from contact page</p>
  </div>
</div>
<div class="row option" (click)="home()">
  <div class="col-sm-6 option-header">
    <h2>Home</h2>
  </div>
  <div class="col-sm-6 option-description">
    <p>Go back to your home page.</p>
  </div>
</div>
