@import "./../../../variables.scss";

.option {
  cursor: pointer;
  border: dotted $lightblue 1px;
  margin-bottom: 10px;

  &-header {
    text-align: center;
    color: $blue;
  }
  
  &:hover {
    & .option-header {
        color: darken($blue, 15%);
    }
  }
}

@media only screen and (max-width: 575px) {
  .option {
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
  
    &-header {
      text-align: center;
      color: $blue;
    }
  
    &-description {
      display: none;
    }
  }
}