/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

#body {
    font-family: $roboto;
}

.container {
  padding-bottom: 30px;
}

.title {
    color: $brown;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 35px;

    &-lesser {
      color: $brown;
      font-size: 25px;
    }
}

.form {
  &-section {
    padding-top: 15px;
    & input {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 15px;
      border: 1px solid $lightblue;
    }

    & select {
      width: 100%;
      padding: 6px;
      border-radius: 5px;
      margin-bottom: 15px;
      border: 1px solid $lightblue;
    }

    & button {
      color: $black;
      border-radius: 5px;
      border: none;
      background-color: $lightgreen;
      padding: 5px 30px;
      
      &:hover {
        background-color: darken($lightgreen, 15%);
      }
    }
  }

  &-invalid {
    border: 1px solid $red !important;
  }
}

.button {
  &-blue {
    color: $black;
    border-radius: 5px;
    border: none;
    background-color: $lightblue;
    padding: 5px 30px;

    &:hover {
      background-color: darken($lightblue, 15%);
    }
  }

  &-disable {
    background-color: lightgray !important;
  }

  &-red {
    color: $black;
    border-radius: 5px;
    border: none;
    background-color: $lightred;
    padding: 5px 30px;
  }
}

.section {
  margin-top: 50px;
}

img {
  width: 100%;
  max-width: 100%;
}

.error {
  color: $red;
}

.option {
  margin-bottom: 40px;
}
