$lightblue: #8DD4FF;
$lightred: #FF9F9F;
$lightgreen: #8BFF85;
$blue: #336B87;
$red: #FC3232;
$dark: #2A3132;
$brown: #763626;
$white: #FFFFFF;
$black: #000000;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$roboto: 'Roboto', sans-serif;
